<% layout('layouts/boilerplate') %>
<h1>Yelp Camp Home</h1>
<div><a href="/register">Register</a></div>
<div></div><a href="/login">Login</a></div>
<div></div><a href="/campgrounds">To all campgrounds</a></div>
